/**
 * @name BlueCord
 * @description Blue Discord Color
 * @author NoxBRX
 * @version 1.0.0
 * @authorId 694524823011065916
 * @website https://github.com/yGhostDev
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.theme.css
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css);

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	--font: 					Bahnschrift, Cambria;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no			*/
	
	--accentcolor: 				88,101,242;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				0,176,244;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor:  			33,255,237;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor:  			33,177,255;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor:  			148,33,255;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:   			33,74,255;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter:  			33,222,255;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright:  				50,111,138;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark:  				40,73,122;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker:  				255,255,255;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest:  				79,84,92;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
	
	--backgroundaccent:  		22,48,82;				/*	Background Accent	 - 	default:	64,68,75		 - 	hex:	#40444b		*/
	--backgroundprimary:  		23,28,43;				/*	Background 1		 - 	default:	54,57,63		 - 	hex:	#36393f		*/
	--backgroundsecondary:  		27,42,56;				/*	Background 2		 - 	default:	47,49,54		 - 	hex:	#2f3136		*/
	--backgroundsecondaryalt:  	38,55,66;				/*	Background 3		 - 	default:	41,43,47		 - 	hex:	#292b2f		*/
	--backgroundtertiary:  		19,58,66;				/*	Background 4		 - 	default:	32,34,37		 - 	hex:	#202225		*/
	--backgroundfloating:  		36, 11, 55 ;					/*	Background Elevated	 - 	default:	24,25,28		 - 	hex:	#18191c		*/
}
